[submodule "theme"]
	path = theme
	url = git@github.com:mhaneman/hugo-coder-theme.git
[submodule "themes/hugo-coder-theme"]
	path = themes/hugo-coder-theme
	url = git@github.com:mhaneman/hugo-coder-theme.git
